$body-width: 750px;
$image-width: 200px;

$pos-left: $body-width - $image-width;
$pos-right: 0px;
$angle-left: 180deg;
$angle-right: 0deg;

@mixin set-width($width) {
    width: $width;
}

@mixin set-height($height) {
    height: $height;
}

@mixin set-color($color) {
    color: $color;
}

/* boh */
body {
    @include set-width($body-width);
    font-family: sans-serif;
    @include set-color(darkblue);
}
.form-table {
    @include set-width(520px);
}
.news-table {
    border: 1px darkblue solid;
    @include set-width(170px);
    display: inline-block;
    float: right;

}
.form-table th {
    background: url('banner.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include set-width(100%);
    @include set-height(250px);
}

.news-table th {
    background-color: darkblue;
    @include set-color(white);
    font-variant: small-caps;
    text-align: left;
}
header {
    border: 1px darkblue solid;
    @include set-height(90px);
    @include set-width(100%);
    background: url('clouds.jpg');
    
}

footer {
    @include set-color(white);
    background-color: darkblue;
    text-align: center;
}

#image{
    @include set-width(500px);
    @include set-height(250px);
    display: inline-block;
    float: left;
}

#airplane{
    @include set-width($image-width);
    float: right;
    position: relative;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} 

@keyframes slide{
    // fly back
    0% { right: $pos-right; transform: rotateY($angle-right); }
    // first go to position, *then* set the "angle" (aka rotate)!
    40% { right: $pos-left; transform: rotateY($angle-right);  }
    // fly forward
    50% { right: $pos-left; transform: rotateY($angle-left); }
    90% { right: $pos-right; transform: rotateY($angle-left); }


    // restore original state
    100% { right: $pos-right; transform: rotateY($angle-right); }
}

