/* boh */
body {
  width: 750px;
  font-family: sans-serif;
  color: darkblue; }

.form-table {
  width: 520px; }

.news-table {
  border: 1px darkblue solid;
  width: 170px;
  display: inline-block;
  float: right; }

.form-table th {
  background: url("banner.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

.news-table th {
  background-color: darkblue;
  color: white;
  font-variant: small-caps;
  text-align: left; }

header {
  border: 1px darkblue solid;
  height: 90px;
  width: 100%;
  background: url("clouds.jpg"); }

footer {
  color: white;
  background-color: darkblue;
  text-align: center; }

#image {
  width: 500px;
  height: 250px;
  display: inline-block;
  float: left; }

#airplane {
  width: 200px;
  float: right;
  position: relative;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

@keyframes slide {
  0% {
    right: 0px;
    transform: rotateY(0deg); }
  40% {
    right: 550px;
    transform: rotateY(0deg); }
  50% {
    right: 550px;
    transform: rotateY(180deg); }
  90% {
    right: 0px;
    transform: rotateY(180deg); }
  100% {
    right: 0px;
    transform: rotateY(0deg); } }

/*# sourceMappingURL=style.css.map */
