/* boh */
body {
    width: 750px;
    font-family: sans-serif;
    color: darkblue;
}
.form-table {
    width: 520px;
}
.news-table {
    border: 1px darkblue solid;
    width: 170px;
    display: inline-block;
    float: right;

}
.form-table th {
    background: url('https://media.tacdn.com/media/attractions-splice-spp-674x446/07/91/bc/56.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.news-table th {
    background-color: darkblue;
    color: white;
    font-variant: small-caps;
    text-align: left;
}
header {
    border: 1px darkblue solid;
    height: 90px;
    width: 100%;
    background: url('clouds.jpg');
}

footer {
    color: white;
    background-color: darkblue;
    text-align: center;
}

#image{
    width: 500px;
    height: 250px;
    display: inline-block;
    float: left;
}
